{% load static %}
<li id="artist{{ artist_id }}_header">
	<form id="artistForm{{ artist_id }}" method="POST" action="{% url save_artist artist_id %}">
		{% csrf_token %}
		{% for field in formulario %}
			<li>{{ field }} {{ field.errors }}</li>
		{% endfor %}
		<input type="image" src="{% static 'images/confirm.png' %}" />
	</form>
</li>

{% block script %}
<script type="text/javascript">
	$('#artistForm{{ artist_id }}').submit(event, function(){
		event.preventDefault(); 
		var url = $(this).attr('action');
    	var data = $(this).serializeArray();
    	
    	console.log(data);

		/* Send the data using post and put the results in a div */
		$.post(url, 
			   data, 
			   function(data){
			   		if ("{{ artist_id }}" == 0){
						$("#artist{{ artist_id }}_header").remove();
						$("#artistList").prepend(data);
					}
					else{
						$("#artist{{ artist_id }}_header").html(data);
					}

		});
	});
</script>
{% endblock script %}