{% load static %}
<li id="artist{{ artist_id }}_header_remove">
	<form id="artistForm{{ artist_id }}" method="POST" action="{% url remove_artist artist_id %}">
		{% csrf_token %}
		
		<strong>Tem certeza?</strong>
		<input type="image" id="removeArtist{{ artist_id }}" src="{% static 'images/confirm.png' %}" />
		<a href="#" name="cancel" id="cancel{{ artist_id }}"><img src="{% static 'images/delete.png' %}" /></a>
	</form>

	<script type="text/javascript">
		$('#artistForm{{ artist_id }}').submit(event, function(){
			event.preventDefault(); 
			var url = $(this).attr('action');
	    	var data = $(this).serializeArray();

			/* Send the data using post and put the results in a div */
			console.log(data);
			$.post(url, 
				   data, 
				   function(data){
				   		if ("{{ artist_id }}" == 0){
							$("#artist{{ artist_id }}_header").remove();
							$("#artistList").prepend(data);
						}
						else{
							$("#artist{{ artist_id }}_header").html(data);
						}

			});
			$("#artist{{ artist_id }}_header").show();
			$("#artist{{ artist_id }}_header_remove").remove();
		});

		$('#cancel{{ artist_id}}').click(function(){
			$("#artist{{ artist_id }}_header").show();
			$("#artist{{ artist_id }}_header_remove").remove();
		});
		
	</script>
</li>